bin/
obj/
/packages/
/.idea/.idea.Lab1Kruskal/.idea/vcs.xml
/.idea/.idea.Lab1Kruskal/riderModule.iml
/.idea/.idea.Lab1Kruskal/.idea/projectSettingsUpdater.xml
/.idea/.idea.Lab1Kruskal/.idea/modules.xml
/.idea/.idea.Lab1Kruskal/.idea/indexLayout.xml
/.idea/.idea.Lab1Kruskal/.idea/encodings.xml
/.idea/.idea.Lab1Kruskal/.idea/contentModel.xml
